#caixa1 {
    display: inline-block;
    width: 100px;
    height: 300px;
    background-color: rgb(46, 255, 77);
    padding: 20px;
    border: 5px solid rgb(70, 211, 4);
    margin: 15px;
    
    
  }

#caixa2{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(242, 15, 227);
    padding: 20px;
    border: 5px solid rgb(255, 0, 230);
    margin: 15px;
    
}

#caixa3{
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: rgb(11, 202, 255);
    padding: 20px;
    border: 5px solid blue;
    margin: 15px;
    box-sizing: border-box;
}
